<div class="root-show">
  <div class="hero" style="background-image: url(<%= image_path('banners/home.jpg') %>);">
    <div class="container">
      <div class="center hero__content hero__content--left">
        <h1 class="headline headline--white headline--heavy-outlined">Shelley King</h1>
        <h5 class="headline headline--white headline--outlined">
          making island dreams come true
        </h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content center">
      <div class="container">
        <a href="http://www.royallepage.ca/search/homes/bc/campbell-river/?min_price=0&max_price=5000000%2B&min_leaseprice=0&max_leaseprice=5000%2B&property_type=7&house_type=&features=&listing_type=&lat=50.03312260000001&lng=-125.27333540000001&bypass=&address=Campbell+River&address_type=city&city_name=Campbell+River&prov_code=BC&search_str=Campbell+River%2C+BC%2C+Canada&beds=0&baths=0&sfproperty_type%5B7%5D=7&keyword=" target="_blank">
          <div class="listing-type-container">
            <h4>Residential</h4>
            <%= image_tag('house.png') %>
            <p>
              Find the perfect home.
            </p>
          </div>
        </a>
        <a href="http://www.royallepage.ca/search/homes/bc/campbell-river/?csrfmiddlewaretoken=ADz8DGYWa4vF9OBOBzx2tzNLfm3HFx13&min_price=0&max_price=5000000%2B&min_leaseprice=0&max_leaseprice=5000%2B&property_type=8&house_type=&features=&listing_type=&lat=50.03312260000001&lng=-125.27333540000001&upper_lat=&upper_lng=&lower_lat=&lower_lng=&bypass=&radius=&zoom=&display_type=gallery-view&tier2=False&tier2_proximity=0&search_str=Campbell+River%2C+BC%2C+Canada&beds=0&baths=0&sfproperty_type%5B8%5D=8&keyword=&address=Campbell+River&method=homes&address_type=city&city_name=Campbell+River&prov_code=BC&sortby=" target="_blank">
          <div class="listing-type-container">
            <h4>Condo</h4>
            <%= image_tag('condo.jpg') %>
            <p>
              Find a great condominuim.
            </p>
          </div>
        </a>
        <a href="http://www.royallepage.ca/search/homes/bc/campbell-river/?csrfmiddlewaretoken=ADz8DGYWa4vF9OBOBzx2tzNLfm3HFx13&min_price=0&max_price=5000000%2B&min_leaseprice=0&max_leaseprice=5000%2B&property_type=5&house_type=&features=&listing_type=&lat=50.03312260000001&lng=-125.27333540000001&upper_lat=&upper_lng=&lower_lat=&lower_lng=&bypass=&radius=&zoom=&display_type=gallery-view&tier2=False&tier2_proximity=0&search_str=Campbell+River%2C+BC%2C+Canada&beds=0&baths=0&sfproperty_type%5B5%5D=5&keyword=&address=Campbell+River&method=homes&address_type=city&city_name=Campbell+River&prov_code=BC&sortby=" target="_blank">
          <div class="listing-type-container">
            <h4>Investment</h4>
            <%= image_tag('rental.jpg') %>
            <p>
              Money making properties.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="content">
      <div class="query-container center">
        <h2 class="headline">What are you looking for?</h2>
        <%= simple_form_for :listings, url: listings_path, method: :get do |f| %>
          <%= f.input :query, as: :hidden, label: false, required: false, placeholder: 'City, Address, etc...' %>

          <div class="container">
            <%= f.input :bedrooms, label: false, required: false, collection: (1..5).to_a.map { |n| ["#{n}+", "#{n}+"] }, prompt: 'Bedrooms' %>
            <%= f.input :bathrooms, label: false, required: false, collection: (1..5).to_a.map { |n| ["#{n}+", "#{n}+"] }, prompt: 'Bathrooms' %>
            <%= f.input :price, as: :hidden %>

            <div class="price-range-container">
              <div class="price-range"></div>
              <div class="price-range__label left"></div>
            </div>
          </div>

          <div class="submit">
            <%= f.button :submit, 'Search', class: 'button blue' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="columns-8 fill-small">
          <p>
            Originally born in New Brunswick, my family quickly moved to Vancouver
            Island to root itself in this beautiful province and become a part
            of the community.
          </p>
          <p>
            Real estate has been a long term passion for me. Having grown up in Campbell
            River, I know the area well and look forward to sharing my knowledge with you.
            I love the island life and everything it has to offer. Let me help you find your piece
            of this paradise called Campbell River.
          </p>
        </div>

        <div class="columns-4 fill-small">
          <%= image_tag('shelley_and_libby.jpg', class: 'image--contained') %>
        </div>
      </div>
    </div>

    <% if @featured_post %>
      <div class="content center">
        <div class="container post-list-items center">
          <%= render partial: 'posts/list_item', locals: { post: @featured_post } %>
        </div>
      </div>
    <% end %>

    <% if @featured_testimonials && @featured_testimonials.length > 0 %>
      <div class="content center">
        <h2 class="headline">Testimonials</h2>

        <div class="container">
          <% @featured_testimonials.each do |testimonial| %>
            <%= render partial: 'testimonials/list_item', locals: { testimonial: testimonial } %>
          <% end %>
        </div>

        <p>
          <%= link_to 'See all', testimonials_path, class: 'more' %>
        </p>
      </div>
    <% end %>
  </div>
</div>
