<footer id="footer">
  <div class="container links-container">
    <div class="link-column">
      <h5>Shelley King</h5>
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'About', about_static_path %>
        </li>
        <li>
          <%= link_to 'Testimonials', testimonials_path %>
        </li>
        <li>
          <%= link_to 'Blog', blog_path %>
        </li>
        <li>
          <%= link_to 'Contact', contact_static_path %>
        </li>
      </ul>
    </div>
    <div class="link-column">
      <h5>Buying</h5>
      <ul>
        <li>
          <a href="http://www.royallepage.ca/en/bc/campbell-river/properties" target="_blank">
            Campbell River Listings
          </a>
        </li>
        <li>
          <a href="http://www.royallepage.ca/search/homes/by-office/royal-lepage-advance/356" target="_blank">
            Office Listings
          </a>
        </li>
        <li>
          <a href="http://www.royallepage.ca/en/agent/british-columbia/campbell-river/shelley-king/48057" target="_blank">
            My Listings
          </a>
        </li>
      </ul>
    </div>
    <div class="link-column">
      <h5>Selling</h5>
      <ul>
        <li>
          <%= link_to 'Evaluation', evaluation_static_path %>
        </li>
        <li>
          <%= link_to 'Marketing Plan', marketing_static_path %>
        </li>
        <li>
          <%= link_to 'Reports', reports_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="legal-container">
    <p>
      &copy; 2016 Shelley King. All rights reserved.
    </p>
  </div>

  <div class="container social-container">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/shelley-king-16179b116?authType=NAME_SEARCH&authToken=Z8-C&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A485677081%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1461807303722%2Ctas%3Ashelley" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="mailto:shelleyking@royallepage.ca"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</footer>
