<!DOCTYPE html>
<html>
  <head>
    <title>Shelley King - Realtor</title>

    <!-- Google font Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!--Application stylesheet and javascript -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!--Favicons -->
    <%= render partial: 'common/favicons' %>

    <!-- Display the SEO meta tags -->
    <%= display_meta_tags %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'common/header' %>

    <%= yield %>

    <%= render partial: 'common/footer' %>
  </body>
</html>
